<!DOCTYPE html>
<html>
<head>
	<title><%= locals.title || "?" %> (<%= locals._platform || "?" %>)</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="shortcut icon" href="/favicon.ico"/>
</head>