<%- include('partials/head') %>
<body>
	<%- include('partials/nav') %>
	<script src="/conn_events.js"></script>
	<main>
		<h1>Connection events:</h1>
		<section id="connEvents">
			<button id="clearEvents">Clear</button>
			<br/>
			<table id="evtsTable"></table>
		</section>
	</main>
</body>
</html>