<%- include('partials/head') %>
<body>
	<%- include('partials/nav') %>
	<main>
		<h1>Tools</h1>
		<ul>
			<li><a href="/tools/ip">IP</a></li>
			<li><a href="/tools/conn">Connection events</a> / <a href="/tools/pingm">Ping measure</a></li>
			<li><a href="/tools/time">Time</a></li>
			<li><a href="/tools/minifyJS">Minify JS (HaxBall)</a></li>
			<li><a href="/tools/beautifyJS">Beautify JS</a></li>
			<li>Base64 <a href="/tools/base64?m=encode">encode</a> / <a href="/tools/base64?m=decode">decode</a></li>
			<li>JSON <a href="/tools/json?m=minify">minify</a> / <a href="/tools/json?m=beautify">beautify</a></li>
		</ul>
	</main>
</body>
</html>